.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.add{
  width: 500px;
  background-color: #ffffff;
  margin: 0px;
}

.add__author{
  width: 100%;
}

.checkbox{
  float: left;
  margin-left: 10px;
}




.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.text{
  display: flex;
  flex: 1;
  font-size: 20px;
  border: none;
  padding: 10px;
  outline:none;
}

p {
  color: #999999;
}

.todo-list {
  width: 400px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #efefef;

}

.footerItems{
  display: flex;
  justify-content: center;
  box-shadow:
    /* The top layer shadow */
          0 1px 1px rgba(0,0,0,0.15),
            /* The second layer */
          0 10px 0 -5px #eee,
            /* The second layer shadow */
          0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
          0 20px 0 -10px #eee,
            /* The third layer shadow */
          0 20px 1px -9px rgba(0,0,0,0.15);
}

.spisokItems{
  color: #999999;
  font-family: Roboto, sans-serif;
  display: inline-table;
  margin: 0px;
  padding: 9px;
}
.spisokItems li {
  border-radius: 3px;

  border-radius: 3px;
}

.spisokItems li:hover {
  background-color: #cecece;
  cursor: pointer;
}

.spisokItems li {
  font-size: 15px;
  display: inline;
  margin-right: 5px;
  padding: 2px;
}


.button{
  margin-top: 11px;
width: 50px;
  height: 25px;
border: 1px solid #999999;
  background-color: #ffffff;
  outline: none;
}
.button:hover{
  cursor: pointer;
  background-color: #999999;
  color: #ffffff;
}

.text__count{
  color:  #999999 ;
  float: left;
  font-size: 15px;
  display: inline-table;
  margin-right: 5px;
  margin-top: 8px;
  font-family: Roboto, sans-serif;

}

.text__text{
  margin-left: 10px ;
  text-align: left;
  flex: 1;
  display: inline;
  border: none;
  outline:none;
  padding: 15px;
  font-size: 15px;
}

.text__changed{
  font-size: 15px;
  font-Style: italic;
  color: #cdcdcd;
  text-decoration: line-through;
  margin-left: 10px ;
  flex: 1;
  padding: 15px;
  text-align: left;
  margin-left: 10px ;
  display: inline;
  border: none;
  outline:none;
}

.btn {
  color: black;
  border: 1px solid #777;
  background: #fff;
}

.active, .btn:hover {
  background: green;
  color: #fff;
}
.image{
  height: 15px;
  margin-right: 10px;
  display: none;
}

.todo-item:hover img {
  display: block;
}


.tt{
  background-color: red;
}
.image__arrow{
  height: 20px;
  width: 20px;
  padding: 11px;
}
.header{
  display: flex;
  border-bottom: 1px solid #cecece;
}