.App {
  text-align: center;
}


.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.add{
  width: 500px;
  background-color: #ffffff;
  margin: 0px;
}

.add__author{
  width: 100%;
}

.checkbox{
  float: left;
  margin-left: 10px;
}


.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.text{
  display: flex;
  flex: 1;
  font-size: 20px;
  border: none;
  padding: 10px;
  outline:none;
}

.text::-webkit-input-placeholder{

  font-style: italic;
  color: #cccccc;
}

p {
  color: #999999;
}

.todo-list {
  width: 500px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 2px darkgrey;
}

.footerItems{
  display: flex;
  justify-content: center;
  box-shadow:
    /* The top layer shadow */
          0 1px 1px rgba(0,0,0,0.15),
            /* The second layer */
          0 10px 0 -5px #eee,
            /* The second layer shadow */
          0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
          0 20px 0 -10px #eee,
            /* The third layer shadow */
          0 20px 1px -9px rgba(0,0,0,0.15);
}

.spisokItems{
  display: flex;
  color: #999999;
  font-family: Roboto, sans-serif;
  display: -webkit-box;
  margin: 0px;
  padding: 7px;
  flex: 1 1;
  justify-content: center;
}
.spisokItems li {
  border-radius: 3px;

  border-radius: 3px;
}

.spisokItems li:hover {

  cursor: pointer;
}

.spisokItems li {
  font-size: 15px;
  display: inline;
  margin-right: 5px;
  padding: 2px;
}


.button{
  color:  #999999 ;
  display: inline;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  outline: none;
  flex: 1;
}
.button:hover{
  cursor: pointer;
}

.text__count{
  color:  #999999 ;
  margin-left: 10px;
  float: left;
  font-size: 15px;
  display: inline-table;
  margin-right: 5px;
  font-family: Roboto, sans-serif;
  flex: 1;
}

.text__text{
  margin-left: 10px ;
  text-align: left;
  flex: 1;
  display: inline;
  border: none;
  outline:none;
  padding: 15px;
  font-size: 15px;
}

.text__changed{
  font-size: 15px;
  font-Style: italic;
  color: #cdcdcd;
  text-decoration: line-through;
  margin-left: 10px ;
  flex: 1;
  padding: 15px;
  text-align: left;
  margin-left: 10px ;
  display: inline;
  border: none;
  outline:none;
}

.btn {
  color: black;
  border: 1px solid #777;
  background: #fff;
}

.active, .btn:hover {
  background: green;
  color: #fff;
}
.image{
  height: 15px;
  margin-right: 10px;
  display: none;
}

.todo-item:hover img {
  display: block;
}


.tt{
  background-color: red;
}
.image__arrow{
  height: 15px;
  width: 15px;
  padding: 14px;
  cursor: pointer;

}
.header{
  display: flex;
  border-bottom: 1px solid #cecece;
}

.All {
  border: 1px solid gainsboro;;
}
.Active {
  border: 1px solid gainsboro;
}
.Completed {
  border: 1px solid gainsboro;

}

.todo-item{
  position: relative;
}

.todo-item label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
  margin-top: 8px;
  margin-left: 5px;
}

.todo-item label:after {
  border: 2px solid #66bb6a;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.todo-item input[type="checkbox"] {
  visibility: hidden;
}

.todo-item input[type="checkbox"]:checked + label {

}

.todo-item input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.display {
  display: none;
}


